# Notebook Imports

In [1]:
import pandas as pd
import numpy as np

# Constants

In [2]:
TRAINING_DATA_FILE = 'SpamData/02_Training/train-data.txt'
TEST_DATA_FILE = 'SpamData/02_Training/test-data.txt'

TOKEN_SPAM_PROB_FILE = 'SpamData/03_Testing/prob-spam.txt'
TOKEN_HAM_PROB_FILE = 'SpamData/03_Testing/prob-nonspam.txt'
TOKEN_ALL_PROB_FILE = 'SpamData/03_Testing/prob-all-tokens.txt'

TEST_TARGET_FILE = 'SpamData/03_Testing/test-target.txt'
TEST_FEATURE_MATRIX = 'SpamData/03_Testing/test-features.txt'

VOCAB_SIZE = 2500

# Read and Load Features from .txt Files into NumPy Array

In [3]:
sparse_train_data = np.loadtxt(TRAINING_DATA_FILE, delimiter =' ', dtype =int)

In [4]:
sparse_test_data = np.loadtxt(TEST_DATA_FILE, delimiter=' ', dtype = int)

In [5]:
sparse_train_data[:5] #check if data is same as txt file (if data loaded correctly)

array([[ 0,  0,  1,  2],
       [ 0,  7,  1,  1],
       [ 0, 16,  1,  1],
       [ 0, 18,  1,  1],
       [ 0, 24,  1,  1]])

In [6]:
sparse_train_data[-5:]

array([[5795, 1829,    0,    1],
       [5795, 1897,    0,    2],
       [5795, 2126,    0,    1],
       [5795, 2274,    0,    1],
       [5795, 2486,    0,    1]])

In [7]:
print('Nr of rows in training file', sparse_train_data.shape[0])
print('Nr of rows in test file', sparse_test_data.shape[0])

Nr of rows in training file 265874
Nr of rows in test file 110160

In [8]:
print('Nr of emails in training file', np.unique(sparse_train_data[:,0]).size)

Nr of emails in training file 4013

In [9]:
print('Nr of emails in training file', np.unique(sparse_test_data[:,0]).size)

Nr of emails in training file 1723

## How to create an Empty DataFrame

In [10]:
column_names = ['DOC_ID'] + ['CATEGORY']+list(range(0,VOCAB_SIZE))
display(column_names[:5])
display(len(column_names))

['DOC_ID', 'CATEGORY', 0, 1, 2]

2502

In [11]:
index_names = np.unique(sparse_train_data[:,0])
index_names

array([   0,    1,    2, ..., 5791, 5794, 5795])

In [12]:
full_train_data = pd.DataFrame(index = index_names, columns = column_names)
full_train_data.fillna(value=0,inplace = True) #fill NaN values with 0
full_train_data.head()

,DOC_ID,CATEGORY,0,1,2,3,4,5,6,7,...,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Create a Full Matrix from a Sparse Matrix

In [13]:
def make_full_matrix(sparse_matrix, nr_words, doc_idx=0, word_idx=1, cat_idx =2, freq_idx=3):
    '''
    Form a full matrix from a sparse matrix. Return a pandas dataframe.
    Keyword argumentsL
    sparse_matrix -- numpy array
    nr_words -- size of thte vocabulary. Total number of tokens.
    doc_idx -- position of the document id in the sparse matrix. Default: 1st column
    word_idx -- position of the word id in the sparse matrix. Default: 2nd column
    cat_idx -- position of the label (spam is 1, nonspam is 0). Default: 3rd column
    freq_idx -- position of occurence of word in sparse matrix. Default: 4th column
    '''
    column_names = ['DOC_ID'] + ['CATEGORY']+list(range(0,VOCAB_SIZE))
    doc_id_names = np.unique(sparse_matrix[:,0])
    full_matrix = pd.DataFrame(index = doc_id_names, columns = column_names)
    full_matrix.fillna(value=0,inplace = True) #fill NaN values with 0
    
    for i in range(sparse_matrix.shape[0]):
        doc_nr = sparse_matrix[i][doc_idx]
        word_id = sparse_matrix[i][word_idx]
        label = sparse_matrix[i][cat_idx]
        occurence = sparse_matrix[i][freq_idx]
        
        full_matrix.at[doc_nr, 'DOC_ID'] = doc_nr
        full_matrix.at[doc_nr, 'CATEGORY'] = label
        full_matrix.at[doc_nr, word_id] = occurence
    
    full_matrix.set_index('DOC_ID', inplace = True)
    return full_matrix

In [14]:
full_train_data = make_full_matrix(sparse_train_data, VOCAB_SIZE)

In [15]:
full_train_data

,CATEGORY,0,1,2,3,4,5,6,7,8,...,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499
DOC_ID,,,,,,,,,,,,,,,,,,,,,
0,1,2,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,1,2,0,1,2,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,2,0,2,0,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,3,0,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,1,2,4,2,3,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5789,0,0,0,0,0,0,5,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5790,0,2,2,1,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
5791,0,2,0,1,1,0,1,2,0,1,...,0,0,0,0,0,0,0,0,0,0
5794,0,2,2,1,0,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
5795,0,1,1,1,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Training the Naive Bayes Model
## Calculating the Probability of Spam

In [16]:
# Challenge: Calculate the probability of spam - the percent of spam messages in the training dataset.
# Store this value in a variable called prob_spam
full_spam_data = full_train_data[full_train_data['CATEGORY']==1]
full_ham_data = full_train_data[full_train_data['CATEGORY']==0]
prob_spam = full_spam_data.shape[0] / full_train_data.shape[0]
print('Probability p(spam) of spam is: ', prob_spam)

Probability p(spam) of spam is:  0.31123847495639173

## Total Number of Words / Tokens

In [17]:
full_train_features = full_train_data.loc[:,full_train_data.columns != 'CATEGORY']
full_train_features

,0,1,2,3,4,5,6,7,8,9,...,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499
DOC_ID,,,,,,,,,,,,,,,,,,,,,
0,2,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,1,2,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,2,0,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,1,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,2,4,2,3,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5789,0,0,0,0,0,5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5790,2,2,1,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5791,2,0,1,1,0,1,2,0,1,2,...,0,0,0,0,0,0,0,0,0,0
5794,2,2,1,0,1,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5795,1,1,1,0,1,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [18]:
email_lengths = full_train_features.sum(axis = 1)
display(email_lengths.shape)
email_lengths[:5]

(4013,)

DOC_ID
0     50
1     76
2     87
3     76
4    137
dtype: int64

In [19]:
total_wc = email_lengths.sum()
total_wc

445755

## Number of Tokens in Spam & Ham Emails

In [20]:
# Challenge: Create a subset of the email_lengths series that only contains the spam messages. 
# Call the subset spam

# Do the same for the non-spam emails. Create a subset called hamm_lengths. Then count the total number of words
# that occur in the ham emails

spam_lengths = email_lengths[full_train_data['CATEGORY']==1]
spam_wc = spam_lengths.sum()
ham_lengths = email_lengths[full_train_data['CATEGORY']==0]
nonspam_wc = ham_lengths.sum()

email_lengths.shape[0] - spam_lengths.shape[0] - ham_lengths.shape[0]

0

In [21]:
# Challenge: Can you figure out if spam emails or non-spam emails tend to be longer? Which category contains
# more tokens? Take a guess and then verift your intuitiono using the dataset
print('Average nr of words in spam emails {:.0f}'.format(spam_wc / spam_lengths.shape[0]))
print('Average nr of words in ham emails {:.3f}'.format(nonspam_wc / ham_lengths.shape[0]))

Average nr of words in spam emails 155
Average nr of words in ham emails 91.082

## Summing the Tokens Occuring in Spam

In [22]:
full_train_features.shape

(4013, 2500)

In [23]:
train_spam_tokens = full_train_features[full_train_data['CATEGORY']==1]
train_ham_tokens = full_train_features[full_train_data['CATEGORY']==0]
display(train_spam_tokens)

,0,1,2,3,4,5,6,7,8,9,...,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499
DOC_ID,,,,,,,,,,,,,,,,,,,,,
0,2,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,1,2,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,2,0,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,1,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,2,4,2,3,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1885,2,0,0,3,2,2,2,2,1,0,...,0,0,0,0,0,0,0,0,0,0
1887,0,0,2,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1889,2,0,1,0,0,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1890,3,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1895,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
summed_spam_tokens = train_spam_tokens.sum(axis=0) + 1 #laplace smoothing
display(summed_spam_tokens.shape)
summed_spam_tokens.tail()

(2500,)

2495    13
2496     1
2497    26
2498    17
2499    10
dtype: int64

In [25]:
# Challenge: Repeat this process for the ham messages. Sum the tokens that occur in tgte non-spam messages
# Store the values in a variable called summed_ham_tokens

## Summing the Tokens Occuring in Non-Spam

In [26]:
summed_ham_tokens = train_ham_tokens.sum(axis=0) + 1 #laplace smoothing
display(summed_ham_tokens.shape)
summed_ham_tokens.tail()

(2500,)

2495    17
2496    22
2497     8
2498    15
2499    16
dtype: int64

In [27]:
train_ham_tokens[2499].sum()+1

16

## P(Token | Spam) - Probability that a Token Occurs given the Email is Spam

In [28]:
prob_tokens_spam = summed_spam_tokens / (spam_wc + VOCAB_SIZE)
display(prob_tokens_spam[:5])
prob_tokens_spam.sum()

0    0.009063
1    0.004926
2    0.006880
3    0.010661
4    0.006916
dtype: float64

1.0

## P(Token | Ham) - Probability that a Token Occurs given the Email is Non-spam

In [29]:
prob_tokens_ham = summed_ham_tokens / (nonspam_wc + VOCAB_SIZE)
display(prob_tokens_ham[:5])
prob_tokens_ham.sum()

0    0.020822
1    0.009939
2    0.008004
3    0.003709
4    0.006293
dtype: float64

1.0

# P(Token) - Probability that Token Occurs

In [30]:
prob_tokens_all = full_train_features.sum(axis=0) / total_wc
prob_tokens_all.sum()

1.0

## Save the Trained Model

In [31]:
np.savetxt(TOKEN_SPAM_PROB_FILE, prob_tokens_spam)
np.savetxt(TOKEN_HAM_PROB_FILE, prob_tokens_ham)
np.savetxt(TOKEN_ALL_PROB_FILE, prob_tokens_all)

# Prepare Test Data

In [32]:
# Challenge: Create a full Matrix from the sparse_test_data. Separate the features and the target values.
# Save these as separate .txt files a TEST_TARGET_FILE and a TEST_FEATURE_MATRIX file

full_test_data = make_full_matrix(sparse_test_data, VOCAB_SIZE)
full_train_features = full_test_data.loc[:,full_test_data.columns != 'CATEGORY']
full_train_targets = full_test_data.CATEGORY
display(full_train_targets )

np.savetxt(TEST_TARGET_FILE, full_train_targets)
np.savetxt(TEST_FEATURE_MATRIX, full_train_features)

DOC_ID
8       1
12      1
15      1
17      1
19      1
       ..
5783    0
5786    0
5788    0
5792    0
5793    0
Name: CATEGORY, Length: 1723, dtype: int64